/* Main jeopardy colors */
:root {
    --primary: #115ff4;
    --primary-dark: #060ce9;
    --primary-light: #cccccc;
    --secondary: #1d1d1d;
    --social-background: #e9e9e9;
    --social-background-hover: #dddddd;
    --text: #13162a;
    --white: #ffffff;
    --yellow: #fdfa72;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--primary);
    color: var(--white);
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: (--primary);
    background: -webkit-linear-gradient(to right, var(--yellow),
            var(--primary-dark));
    background: linear-gradient(to right, var(--yellow),
            var(--primary-dark));
}

/* For header in gameContent.html */
.header {
    position: sticky;
    top: 0;
    overflow: hidden;
    justify-content: space-between;
    padding: 10px 50px;
}

.header p {
    font-weight: bold;
}

/* For CategoryItems.html */
.catPosition {
    flex-direction: row;
    padding: 5%;
    
}

/* slider in QnAItems.html */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}