/* Main jeopardy colors */
:root {
    --primary: #115ff4;
    --primary-dark: #060ce9;
    --primary-light: #cccccc;
    --secondary: #1d1d1d;
    --social-background: #e9e9e9;
    --social-background-hover: #dddddd;
    --text: #13162a;
    --white: #ffffff;
    --yellow: #fdfa72;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--primary);
    color: var(--white);
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: (--primary);
    background: -webkit-linear-gradient(to right, var(--yellow),
            var(--primary-dark));
    background: linear-gradient(to right, var(--yellow),
            var(--primary-dark));
}

.categoryCard {
    border: 2px solid #444;
    padding: 12px;
    margin: 10px 0;
    background: #1a1a2e;
    color: var(--white);
}

.catgeorySettings {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}

.qnaCard {
    border: 1px solid #888;
    padding: 10px;
    margin: 8px 0;
    background: #23233b;
}

.collapsed .qnaContainer
.collapsed .catgeorySettings {
    display: none !important
}