/* Main jeopardy colors */
:root {
    --primary: #115ff4;
    --primary-dark: #060ce9;
    --primary-light: #cccccc;
    --secondary: #1d1d1d;
    --social-background: #e9e9e9;
    --social-background-hover: #dddddd;
    --text: #13162a;
    --white: #ffffff;
    --yellow: #fdfa72;
}

* {
    margin: 0px;
    padding: 0px;
}

/* for header */
.container {
    background-color: var(--primary-light);
    border-bottom-width: 1px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    color: var(--yellow);
    font-size: 15px;
    font-family:'Work Sans', sans-serif;
    background-color: var(--primary);
    overflow: hidden;
    padding: 10px 50px;
    gap: 20px;
    margin-bottom: 10px;
}

.logout {
    background-color: var(yellow);
    color: var(--white);
    padding: 1px 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border-color: var(--yellow);
}

.secondary {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    font-family:'Work Sans', sans-serif;
    font-size: 30px;
}

.subtitle {
    margin-top: 10px;
    font-size: 15px;
    color: var(--secondary);
}

.newGame {
    background-color: var(yellow);
    color: var(--white);
    padding: 1px 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border-color: var(--yellow);
}

/* Saved Jeopardies (GaemCard.html) */
.card {
    width: 150px;
    background: var(--primary-dark);
    color: var(--yellow);
    border-radius: 5px;
    padding: 3px;
    border: 5px solid var(--yellow);
    font-family:'Work Sans', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.card label {
    font-size: 20px;
}

.cardOptions {
    margin-top: 10px;
}
