/* For index.html (home page) */
.welcome_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
    padding: 1rem;
    border-radius: 5px;
    border-color: #fdfa72;
    box-shadow: 0 5px 10px;
    background-color: var(--primary-dark);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    white-space: nowrap;
    display: flex;
    margin-top: 0.5rem;
    line-height: 2rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: 0.025rem;
    cursor: pointer;
    font-weight: 800;
    width: 20%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0.75rem;
    border-color: rgb(237, 237, 25);
    border-radius: 5px;
}

.header-buttons:hover {
    background-color: var(--yellow);
}

.header-buttons:active {
    color: var(--yellow);
}

.header-buttons:visited {
    color: var(--yellow);
}

/* Most of userAuthen css are sponsered by Instagram: @davidm_ai*/

/* Main jeopardy colors */
:root {
    --primary: #115ff4;
    --primary-dark: #060ce9;
    --primary-light: #cccccc;
    --secondary: #1d1d1d;
    --social-background: #e9e9e9;
    --social-background-hover: #dddddd;
    --text: #13162a;
    --white: #ffffff;
    --yellow: #fdfa72;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--primary);
    color: var(--white);
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: (--primary);
    background: -webkit-linear-gradient(to right, var(--yellow),
            var(--primary-dark));
    background: linear-gradient(to right, var(--yellow),
            var(--primary-dark));
}

.socials-row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.socials-row img {
    width: 1.35rem;
    height: 1.35rem;
}

.socials-row>a {
    padding: 0.5rem;
    border-radius: 0.75rem;
    width: 100%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 0.95rem;
    color: var(--text);
    padding: 0.5rem;
    background: var(--social-background);
    font-weight: 700;
    transition: all 0.25s ease-in-out;
}

.socials-row>a:hover {
    background: var(--social-background-hover);
    border: 1px solid var(--primary);
}

.login-title-row {
    margin-bottom: 1rem;
    text-align: center;
}

.login-message {
    max-width: 24rem;
}

.logo {
    height: 3.5rem;
    margin: 0 auto;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background-color: var(--white);
    width: 100%;
    max-width: 32rem;
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    height: fit-content;
}

.my-form_button {
    background-color: var(--primary);
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: 0.025rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: width;
    width: 100%;
    border-radius: 0.75rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.my-form_button:hover {
    background-color: var(--yellow);
}

.myform_button:active {
    color: var(--yellow);
}

.my-form_button:visited {
    color: var(--yellow);
}

.input-wrapper {
    position: relative;
    padding: 0.9375rem 0 0;
    margin-bottom: 0.5rem;
}

.input_field {
    font-size: 1.4rem;
    color: var(--text);
    padding: 0.375rem 0;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    line-height: 0.5rem;
    line-height: 2rem;
    height: 2rem;
    outline: 0;
    border: 0;
    width: 100%;
    vertical-align: middle;
    padding-bottom: 0.7rem;
    border-bottom: 3px solid var(--text);
    transition: border-color 0.2s;
}

.input_field::placeholder {
    color: transparent;
}

.input_label {
    user-select: none;
}

.input_field:placeholder-shown-.input_label {
    cursor: text;
    color: var(--text);
    top: 0.8rem;
    font-size: 1.2rem;
}

.input_label,
.input_field:focus-.input_label {
    position: absolute;
    top: -0.8rem;
    display: block;
    font-size: 1.2rem;
    color: var(--text);
    transition: 0.3s;
}

.input_field:focus-.input_label {
    color: var(--primary);
}

.input_field:focus {
    border-bottom: 3px solid var(--primary);
}

.input_field:focus-svg {
    stroke: var(--primary);
}

.input_icon {
    position: absolute;
    right: -0.875rem;
    bottom: -0.6875rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.125rem;
    transform: translate(-50%, -50%);
    transform-origin: center;
    cursor: pointer;
}

.input_icon:hover {
    border-radius: 50%;
}

.my-form_actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: var(--secondary);
    gap: 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

.my-form_actions a {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
}

.my-form_actions a:hover {
    text-decoration: underline;
}

.my-form_row {
    display: flex;
    justify-content: space-between;
}